.TP {
    color:#ffffff;  
}

.card-title {
    font-family: 'Golos Text', sans-serif; }


.row {
    padding-top:5%;
}



.d-flex {
    font-family: 'DM Serif Display', serif; }

.nav-item {
    font-family: 'Golos Text', sans-serif; }

.btn {
    margin-top: 3%;
    margin-bottom: 3%;
}

.card {
    margin-top: 3%;
}

.nav{
    margin-top: auto;
}