section{
    
    h1 {
        background-color: #D77F44;
        color:#ffffff;  
        font-family: 'DM Serif Display', serif;
        padding: 2%;
        text-align: center;
    }

    card-text {
        font-family: 'Golos Text', sans-serif;
    }

    container {
        font-family: 'Golos Text', sans-serif;
        align-content: center;
        margin-left: 65%;
     }
}